.skills__line,
.hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.skills__box,
.hobbies__box {
    text-align: center;
    margin: 10px;
    width: 150px;
}

.skills__name,
.hobbies__name {
    margin-top: 10px;
}

.skills__img,
.hobbies__img {
    max-width: 100px;
    height: auto;
}

@media (max-width: 768px) {
    .skills__box,
    .hobbies__box {
        width: 100%;
    }
    
    .skills__name,
    .hobbies__name {
        font-size: 14px;
    }
}
